node_modules/
.next/
out/
build/
dist/

*.log
npm-debug.*
yarn-debug.*
yarn-error.*

.DS_Store

.env
.env.local
.env.*.local
.env.local.bak
*.bak
.env.development.local
.env.staging.local
.env.production.local

next-env.d.ts
*.tsbuildinfo
.vercel/
